Makefile.vars
Makefile.dependencies
include/
EXTERNAL/CSSCPA_filter
PROVER/checkproof
PROVER/classify_problem
PROVER/direct_examples
PROVER/e_axfilter
PROVER/e_client
PROVER/e_deduction_server
PROVER/e_ltb_runner
PROVER/e_server
PROVER/edpll
PROVER/eground
PROVER/ekb_create
PROVER/ekb_delete
PROVER/ekb_ginsert
PROVER/ekb_insert
PROVER/enormalizer
PROVER/epclanalyse
PROVER/epclextract
PROVER/epcllemma
PROVER/eprover
PROVER/termprops
PROVER/tsm_classify
SIMPLE_APPS/ex_commandline
SIMPLE_APPS/term2dag
TEST/cl_test
TEST/patterntest
*.o
*~
*.gch
*.pch
*.a
*.exe
*.out
*.csv
*.zip
*.tar.gz
*.tar
*.err
out*
*.dSYM/
*.csv
cachegrind*
callgrind*
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
./vscode/*
./vscode*

# Executable directory
EXECDIR/

# Prover
PROVER/e_stratpar

# Picosat files
CONTRIB/picosat-965/*

# Build and setup files
setup.sh
build.sh

